@import url('https://fonts.googleapis.com/css?family=Kalam:400,700&display=swap');

:root   {
    --primary-color: rgb(19, 19, 207);
}

*{
    margin: 0;
    padding: 0;
    border: nome;
}

body{
    font-family: 'Kalam', cursive;
    background-color: var(--primary-color)
}

header {
background: white;
width: 100%;
padding: 32px;
text-align: center;
box-sizing: border-box;

}

.links {
    font-size: 22px;

}

.links a + a {
    margin-left: 32px;
}

.links a {
    text-decoration: none;
    color: black;
    position: relative
}

.links a.active {
    font-weight: bold;
    color: rgb(19, 19, 207);
}

.links a:hover {
    color: green
    
}

.links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: green;
    position: absolute;
    left: 0;
    bottom: -3px;

} 


.links a:hover::after {
    width: 100%;
    transition: width 100ms ease-in-out;
}