@import url('https://fonts.googleapis.com/css?family=Kalam&display=swap');

*{
    margin: 0;
    padding: 0;
    border: nome;
}

body{
    font-family: 'Kalam', cursive;
    background-color: rgb(19, 19, 207);
}

header {
background: white;
width: 100%;
padding: 32px;
text-align: center;
box-sizing: border-box;

}

.links {
    font-size: 22px;

}

.links a + a {
    margin-left: 32px;
}

.links a {
    text-decoration: none;
    color: red;
}

